<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PivoTurtle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <PivoTurtle.Properties.Settings>
      <setting name="UserId" serializeAs="String">
        <value/>
      </setting>
      <setting name="SaveServerToken" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TokenGuid" serializeAs="String">
        <value/>
      </setting>
      <setting name="SelectedStories" serializeAs="String">
        <value/>
      </setting>
      <setting name="MessageTemplate" serializeAs="String">
        <value/>
      </setting>
      <setting name="SelectedProject" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="AllowOffline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataDirectory" serializeAs="String">
        <value/>
      </setting>
    </PivoTurtle.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
